<h2>item edit page reached</h2>


<form action='/item/<%=item.id%>' class='edit-call'>
	<div>
		<div hidden="true">
			<input name='eventId' value='<%=item.eventId%>'>
			<input name='id' id='id' value='<%=item.id%>'>
		</div>
		<div class='form-row'>
			<div class='inpt field col-md-3 form-group'>
				<label for='number'>Item Number</label>
				<input type='text' class="form-control" id='number' name='number' value='<%=item.number%>'>
			</div>
			<div class='inpt field col-md-6 form-group'>
				<label for='name'>Name</label>
				<input type='text' class="form-control" id='name' name='name' value='<%=item.name%>'>
			</div>
			<div class='inpt field col-md-3 form-group'>
				<label for='type'>Type</label>	
				<input type='text' class='form-control' id='type' name='type' value='<%=item.type%>'> 
			</div>
		</div>
		<div class='form-row'>
			<div class='inpt field col-md-12 form-group'>
				<label for='description'>Item description</label>
				<textarea class="form-control" id='description' name='description'><%=item.description%></textarea>
			</div>
		</div>
		<div class="form-row">
			<div class='form-group col-md-6'>	
				<label for='donor'>Donor</label>
				<input type='text' name='donor' value='<%=item.donorId%>' class="form-control">
		</div>
	</div>
	
		<div class='form-row'>
			<div class='inpt field col-md-3 form-group'>
				<label for='marketPrice'>Market Value</label>
				<input type='text' class="form-control" id='marketPrice' name='marketPrice' class='validate' value='<%=item.marketPrice%>'>
			</div>
		</div>
		   <button type="submit" class="shadow-sm btn btn-lg btn-warning">Edit Item</button>
	</div>
</form>

<br><br>
<footer> 
	<a href='/item/<%=item.eventId%>' class='btn btn-warning'>items</a>
	<a href='/attendee/<%=item.eventId%>' class='btn btn-warning'>attendees</a>
	<a href='/sell/receipt/<%=item.eventId%>' class='btn btn-warning'>checkout</a>
</footer>
