<h2>list of items, new item form</h2>

<h4>Event ID:<%= event.id %></h4>

<h4>new item</h4>

<form action='/item' method="POST">
	<div>
		<div hidden="true">
			<input name='eventId' value='<%=event.id%>'>
		</div>
		<div class='form-row'>
			<div class='inpt field col-md-3 form-group'>
				<label for='number'>Item Number</label>
				<input type='text' class="form-control" id='number' name='number'>
			</div>
			<div class='inpt field col-md-6 form-group'>
				<label for='name'>Name</label>
				<input type='text' class="form-control" id='name' name='name'>
			</div>
			<div class='inpt field col-md-3 form-group'>
				<label for='type'>Type</label>
				<select name='type' class='form-control'>
				<option value='certificate'> Certificate </option>
				<option value='item'> Item </option>	
				</select>
			</div>
		</div>
		<div class='form-row'>
			<div class='inpt field col-md-12 form-group'>
				<label for='description'>Item description</label>
				<textarea class="form-control" id='description' name='description'></textarea>
			</div>
		</div>
		<div class="form-row">
			<div class='form-group col-md-6'>	
				<label for='donor'>Donor</label>
				<select name="donorId" class="form-control">
					<option value="0"> Select donor </option>
					<% if (donors) { %>
					<% donors.forEach(function(d){ %>
					<option value="<%=d.id%>">
					<%= d.name %>
					</option>
					<%})%>
					<% } %>
				</select>
				<div id="newDonor" class="shadow-sm btn btn-lg btn-warning" onclick="">New Donor</div>
		</div>
	</div>
	
		<div class='form-row'>
			<div class='inpt field col-md-3 form-group'>
				<label for='marketPrice'>Market Value</label>
				<input type='text' class="form-control" id='marketPrice' name='marketPrice' class='validate' placeholder="$0.00">
			</div>
		</div>
		   <button type="submit" class="shadow-sm btn btn-lg btn-warning">Create Item</button>
	</div>
</form>

<form action='/item' method="POST" id="donorForm">
	<div>
		<div class='form-row'>
			<div class='inpt field col-md-6 form-group'>
				<label for='name'>Donor Name</label>
				<input type='text' class="form-control" id='name' name='name'required>
			</div>
			<div class='inpt field col-md-6 form-group'>
				<label for='contactName'> Contact Name</label>
				<input type='text' class="form-control" id='contactName' name='contactName'>
			</div>
		</div>
		<div class='form-row'>
			<div class='inpt field col-md-6 form-group'>
				<label for='email'>Email</label>
				<input type='email' class="form-control" id='email' name='email'>
			</div>
			<div class='inpt field col-md-6 form-group'>
				<label for='phone'>Phone Number</label>
				<input type='text' class="form-control" id='phone' name='phone'>
			</div>
		</div>
		<div class='form-row'>
			<div class='inpt field col-md-12 form-group'>
				<label for='description'>Notes</label>
				<textarea class="form-control" id='description' name='description'></textarea>
			</div>
		</div>
	
		   <button type="submit" class="shadow-sm btn btn-lg btn-warning">Create Donor</button>
	</div>
</form>

<br> <br>
<h4>item list</h4>

<% event.items.forEach(function(i){%>
  <div>
    <hr>
    <h4>
    	<%=i.number%>
    </h4>
    <h4>
      <a href="#">
        <%= i.description %>
      </a>
    </h4>
    <a href='#' class='btn btn-warning'>edit</a>
  </div>
<%});%>

