<div class='container'>

	<br>

	<h3>Assign Winners</h3>

	<br>

	<div class='col-lg-6 col-md-10 win-form'>

		<form action='/sell/<%=event.id%>' class='edit-call form-style shadow-sm'>
				<div hidden="true">
					<input name='id' value='<%=event.id%>'>
				</div>
					<div class='inpt field col form-group'>
						<label for='bidNumber'>Bid Number</label>
						<input type='text' class="form-control" id='bidNumber' name='bidNumber'>
					</div>
					<h4 class='win-page'>BOUGHT</h4>
					<div class='inpt field col form-group'>
						<label for='itemNumber'>Item Number</label>
						<input type='text' class="form-control" id='itemNumber' name='itemNumber'>
					</div>
					<h4 class='win-page'>FOR</h4>
					<div class='inpt field col form-group'>
						<label for='soldPrice'>Price</label>
						<input type='text' class="form-control" id='soldPrice' name='soldPrice'>
					</div>
				   <button type="submit" class="shadow-sm btn btn-lg btn-warning">Set Winner</button>
		</form>

	</div>

	<br><br>
	
	<%#footer not in partials b/c I didn't want it on every page%>
	<footer> 
		<a href='/event/<%=event.name%>' class='btn btn-warning'>event page</a>
		<a href='/item/<%=event.id%>' class='btn btn-warning'>items</a>
		<a href='/attendee/<%=event.id%>' class='btn btn-warning'>attendees</a>
		<a href='/sell/receipt/<%=event.id%>' class='btn btn-warning' disabled>checkout</a>
	</footer>

</div>