


<br>
<div class="receipt">
	<div class="image-container" align="right">
		<img class="logo" src="https://res.cloudinary.com/kelseygreen/image/upload/v1535649775/WSCO-logo.gif" alt="logo" height="125">
	</div>
	<h4><%=attendee.name%> </h4>

	<table class="table">
	  <thead>
	    <tr>
	      <th scope="col">#</th>
	      <th scope="col">Item</th>
	      <th scope="col"></th>
	      <th scope="col">Cost</th>
	    </tr>
	  </thead>

	<%var total = 0;%>
	<%item.forEach(function(i){%>
		<% if (i.attendeeId === attendee.id){%>
	  <tbody>
	    <tr>
	      <th scope="row"><%=i.number%></th>
	      <td><%=i.name%></td>
	      <td></td>
	      <td><%=i.soldPrice%></td>
	    </tr>
	    <%total += i.soldPrice%>
	<%}%>
	<%});%>

	<tr>
	   <th scope="row"></th>
	   <td></td>
	   <td>Total</td>
	   <td><%=total%></td>
	</tr>

	  </tbody>
	</table>

</div>
<br><br>
<footer class='receipt'>
	<form action='/sell/show/<%=attendee.id%>' class='edit-call'>
		<input type='text' class='form-control' id='paid' name='paid' value='true' hidden>
		<input type='text' class='form-control' id='id' name='id' value='<%=attendee.id%>' hidden>
 		<button type="submit" class="shadow-sm btn btn-lg btn-warning">Mark as Paid</button>
 	</form>
</footer>
