<div class='container'>
<br>

<h2><%= event.name %> Attendees</h2>

<button class='btn-warning btn-lg' onclick="showForm()">New Attendee Form</button>

<div id="hiddenForm" class='shadow-sm form-style'>
<form action='/attendee' method="POST">
	<div>
	
		<div class='form-row'>
			<div class='inpt field col-md-2 form-group'>
				<label for='number'>Bid Number</label>
				<input type='text' class="form-control" id='number' name='number'>
			</div>
			<div class='inpt field col-md-2 form-group'>
			<input name='eventId' value='<%=event.id%>' hidden>
		</div>
		</div>
		<div class='form-row'>
			<div class='inpt field col-md-6 form-group'>
				<label for='name'>Name</label>
				<input type='text' class="form-control" id='name' name='name'>
			</div>
				<div class='inpt field col-md-6 form-group'>
				<label for='nameSecondary'>Second Name</label>
				<input type='text' class="form-control" id='nameSecondary' name='nameSecondary'>
			</div>
		</div>
		<div class='form row'>	
			<div class='inpt field col-md-6 form-group'>
				<label for='phone'>Phone</label>
				<input type='text' class="form-control" id='phone' name='phone'>
			</div>
			<div class='inpt field col-md-6 form-group'>
				<label for='email'>Email</label>
				<input type='text' class="form-control" id='email' name='email'>
			</div>
		</div>
		<div class='form-row'>
			<div class='inpt field col-md-3 form-group'>
				<label for='ticket'>Ticket status</label>
				<select name='ticket' class='form-control'>
				<option value='outstanding'> Outstanding </option>
				<option value='paid'> Paid </option>	
				<option value='guest'> Guest </option>
				</select>
			</div>
			
			<div class='inpt field col-md-3 form-group'>
				<label for='table'>Table #</label>
				<input type='text' class="form-control" id='table' name='table'>
			</div>
		</div>
			 <button type="submit" class="shadow-sm btn btn-lg btn-warning">Create Attendee</button>

		</div>
	
</form>
</div>

<br> <br>
<%#loops through attendees to make a list%>
<% event.attendees.forEach(function(a){%>
  <div class='card list-card shadow-sm'>
  	 <div class='card-body'>
	    <h4 class='card-title'>
	        <%= a.bidNumber %>: <%= a.name %>
	    </h4>
	    <h4>
	       <%=a.nameSecondary%>
	    </h4>
	    <a name ='<%=event.id%>' href='edit/<%=a.id%>' class='btn btn-warning text-dark'>edit</a>
	</div>
    
  </div>
<%});%>

<br><br>
<%#footer not in partials b/c I didn't want it on every page%>
<footer> 
	<a href='/event/<%=event.name%>' class='btn btn-warning'>event page</a>
	<a href='/item/<%=event.id%>' class='btn btn-warning'>items</a>
	<a href='/attendee/<%=event.id%>' class='btn btn-warning' disabled>attendees</a>
	<a href='/sell/receipt/<%=event.id%>' class='btn btn-warning'>checkout</a>
</footer>

</div>