
<br>
<h3><%=event.name%> Attendee Report</h3>

<% eventAttendeess = []; %>

	<table class="table">
	  <thead>
	    <tr>
	      <th scope="col">#</th>
	      <th scope="col">Name</th>
	      <th scope="col"></th>
	      <th scope="col">Total</th>
	      <th scope="col"></th>
	    </tr>
	  </thead>

<%attendee.forEach(function(a){%>

	<%var total = 0;%>
	<%item.forEach(function(i){%>
		<% if (i.attendeeId === a.id){%>
	    <%total += i.soldPrice%>
	<%}%>
	<%});%>

	<%var row = []%>
	  <tbody>
	    <tr>
	      <th scope="row"><%=a.bidNumber%></th>
	      	<%row.push(a.bidNumber)%>
	      <td><%=a.name%></td>
	      	<%row.push(a.name)%>
	      <td><%=a.nameSecondary%></td>
	      	<%row.push(a.nameSecondary)%>
	      <td><%=total%></td>
	      	<%row.push(total)%>
	    <%if (a.paid) {%>
	      <td>paid</td>
	      	<%row.push('paid')%>
	    <%} else {%>
	      <td>unpaid</td>
	      	<%row.push('unpaid')%>
	      <%}%>
	    </tr>
	    <%eventAttendees.push(row)%>
	<%});%>

	  </tbody>
	</table>

	<%console.log(eventAttendees)%>

<a href='/write' class='btn btn-large btn-warning'>send report</a>

