
<br>
<h3><%=event.name%> Attendee Report</h3>


	<table class="table">
	  <thead>
	    <tr>
	      <th scope="col">#</th>
	      <th scope="col">Name</th>
	      <th scope="col"></th>
	      <th scope="col">Total</th>
	      <th scope="col"></th>
	    </tr>
	  </thead>

<%attendee.forEach(function(a){%>

	<%var total = 0;%>
	<%item.forEach(function(i){%>
		<% if (i.attendeeId === a.id){%>
	    <%total += i.soldPrice%>
	<%}%>
	<%});%>

	  <tbody>
	    <tr>
	      <th scope="row"><%=a.bidNumber%></th>
	      <td><%=a.name%></td>
	      <td><%=a.nameSecondary%></td>
	      <td><%=total%></td>
	    <%if (a.paid) {%>
	      <td>paid</td>
	    <%} else {%>
	      <td>unpaid</td>
	      <%}%>
	    </tr>
	<%});%>

	  </tbody>
	</table>

<form action='/event/areport/send'>
	<div>
			<input name='values' value='' hidden>
		</div>
	<button type="submit" class="shadow-sm btn btn-lg btn-warning">send report</button>
</form>
