<br>
<h3><%=event.name%> Items Report</h3>

<% eventItems = []; %>

	<table class="table">
	  <thead>
	    <tr>
	      <th scope="col">#</th>
	      <th scope="col">Name</th>
	      <th scope="col">Bidder</th>
	      <th scope="col">Market value</th>
	      <th scope="col">Sold for</th>
	    </tr>
	  </thead>

<%# loops through items to display and fill array with info to send to Sheets %>
<%item.forEach(function(i){%>
	<%var row = []%>

	  <tbody>
	    <tr>
	      <th scope="row"><%=i.number%></th>
	      	<%row.push(i.number)%>
	      <td><%=i.name%></td>
	      	<%row.push(i.name)%>
	      <%if(i.attendeeId === null){%>
	      	<%row.push('none')%>
	      	<td>none</td> <%} else %>
	      <%attendee.forEach(function(a){%>
	      	<% if(a.id === i.attendeeId) {%>
	      
	      	<td><%=a.bidNumber%></td>
	      		<%row.push(a.bidNumber)%>

	     	<%}%>
	  	<%})%>
	      <td><%=i.marketPrice%></td>
	      	<%row.push(i.marketPrice)%>
	      <td><%=i.soldPrice%></td>
	      	<%row.push(i.soldPrice)%>
	    </tr>
	    	<%eventItems.push(row)%>
	<%});%>

	  </tbody>
	</table>

<%# array of arrays in format for google sheets %>
<%console.log(eventItems)%>

<%# route is in index.js%>
<a href='/send' class='btn btn-large btn-warning'>send report</a>


