
<br>

<h2><%= event.name%> page</h2>

<div class="container">
  <div class="row">
    <div class="col-sm">
<h3>Set-Up</h3>
		<a class="btn btn-lg btn-warning" name='event.id' href="/item/<%=event.id%>" role="button">Items</a>

		<a class="btn btn-lg btn-warning" name='event.id' href="/donor/<%=event.id%>" role="button">Donors</a>

		<a class="btn btn-lg btn-warning" name='event.id' href="/attendee/<%=event.id%>" role="button">Attendees</a>
	</div>


    <div class="col-sm">
<h3>Auction</h3>
		<a class="btn btn-lg btn-warning" name='event.id' href="/sell/<%=event.id%>" role="button">Sell Items</a>

		<a class="btn btn-lg btn-warning" name='event.id' href="/sell/receipt/<%=event.id%>" role="button">Checkout</a>
	</div>

  <div class="row">
    <div class="col-sm">
<h3>Reconciliation</h3>
		<a class="btn btn-lg btn-warning" name='event.id' href="#" role="button">Generate Reports</a>


	</div>
  </div>
</div>

